html, body {
	width: 100%;
	min-height: 100%;
}

h1 {
	color: #777;
	margin-bottom: 20px;
}

.wrapper {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

header {
	position: relative;
	overflow: hidden;
	background: #111;
	padding: 10px 0;
}

.btn-home {
	position: relative;
	color: #333;
	font-size: 40px;
	text-decoration: none;
	/*top: 15px;*/
}

.utils {
	float: right;
	font-size: 14px;
}

.utils li {
	float: left;
	margin-left: 14px;
	list-style: none;
}

.utils .menu-link {
	color: #666;
	text-decoration: none;
}

.utils .menu-link:hover,
.utils .menu-selected {
	color: #fff;
}

.menu-link,
.menu-link:hover {
	-webkit-transition: color 0.2s linear;
	   -moz-transition: color 0.2s linear;
		 -o-transition: color 0.2s linear;
		-ms-transition: color 0.2s linear;
			transition: color 0.2s linear;
}

.main {
	padding: 20px 0;
}

.main .wrapper {
	display: block;
	overflow: hidden;
}

.primary {
	overflow: hidden;
	float: right;
}

.primary li {
	float: left;
	margin-left: 20px;
}

.primary .menu-link {
	color: #aaa;
	text-decoration: none;
}

.primary .menu-link:hover,
.primary .menu-selected {
	color: #fff;
}

.aside {
	display: block;
	width: 260px;
	float: left;
}

.content {
	display: block;
	width: 700px;
	float: left;
}

.full {
	width: 960px;
}

.sub-primary {
	list-style: none;
}

.sub-primary li {
	margin-bottom: 5px;
}

.sub-primary .menu-link {
	display: block;
	color: #9a9a9a;
	text-decoration: none;
}

.sub-primary .menu-link:hover,
.sub-primary .menu-selected {
	color: #333;
}